<div class="row">
    <div class="small-11 small-centered columns">
    	<h1>New friend</h1>
	</div>
</div>

<%= render 'form' %>


<div class="row">
  <div class="small-11 small-centered columns">
  	<%= link_to 'Back', friends_path %>
  </div>
</div>

